__pycache__/

# AF3 output files
*_AF3_SCREEN/

# run scripts
run_scripts/

# log files
log_files/

# output files
output_*/

# model files
*.pdb

# temporary files
*.temp.cxc
*.temp

# any compressed files
*.tar.gz
*.zip
*.tar
*.zst